{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} Блог {% endblock %}


{% block content %}

    <section class='blog blog-page'>
        <div class='container'>
            <div class='blog__top'>
                <h2 class="blog__title">блог</h2>
                <div class="pagination">
                    <button id="back_page" onclick="javascript: BackPage('pagination/')" class="pagination__btn">« Предыдущая страница</a>
                    <div class="pagination__items">
                        <a id="page_number_1" onclick="javascript: BackPage('pagination/')" class="pagination__item">1</a>
                        <a id="page_number_2" onclick="" class="pagination__item pagination__item--active">2</a>
                        <a id="page_number_3" onclick="javascript: NextPage('pagination/')" class="pagination__item">3</a>
                    </div>
                    <button id="next_page" onclick="javascript: NextPage('pagination/')" class="pagination__btn">Следующая страница »</a>
                </div>
            </div> 
                <div class="blog__items">
                    <div id="article_view" class="blog__item">
                        <a href="" class="blog__item-img">
                            <img id="img" src="{% static 'img/blog1.jpg' %}" alt="">
                        </a>
                        <a href="" class="blog__item-title">Что такое эстетическая стоматология?</a>
                        <div class="blog__item-desc">Эстетическая стоматология – это одно из наиболее востребованных
                            направлений в современной зубной медицине
                        </div>
                    </div> 
                </div>
            </div>
            <div class='blog__bottom'>
                <button class="blog__more">Показать еще на этой странице</button>
                {% csrf_token %}
                <div class="pagination">
                    <button id="back_page" onclick="javascript: BackPage('pagination/')" class="pagination__btn">« Предыдущая страница</a>
                    <div class="pagination__items">
                        <a id="page_number_1" onclick="javascript: BackPage('pagination/')" class="pagination__item">1</a>
                        <a id="page_number_2" onclick="" class="pagination__item pagination__item--active">2</a>
                        <a id="page_number_3" onclick="javascript: NextPage('pagination/')" class="pagination__item">3</a>
                    </div>
                    <button id="next_page" onclick="javascript: NextPage('pagination/')" class="pagination__btn">Следующая страница »</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}