{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} Блог {% endblock %} 
{% block description %} 
<meta name="description" content="Интересные публикации Стоматологии в Красноярске Корона."> {% endblock %} 

{% block content %}

    <section class='blog blog-page'>
        <div class='container'>
            <div class='blog__top'>
                <h2 class="blog__title title2">БЛОГ</h2>
                <div class="pagination">
                    <button id="back_page" onclick="javascript: BackPage('pagination/')" class="pagination__btn">« Предыдущая страница</a>
                    <div class="pagination__items">
                    </div>
                    <button id="next_page" onclick="javascript: NextPage('pagination/')" class="pagination__btn">Следующая страница »</a>
                </div>
            </div> 
            <div class="blog__items">
                
            </div>
            </div> 
            <div class='blog__bottom'>  
                <div class="pagination">
                    <button id="back_page" onclick="javascript: BackPage('pagination/')" class="pagination__btn">« Предыдущая страница</a>
                    <div class="pagination__items">
                    </div>
                    <button id="next_page" onclick="javascript: NextPage('pagination/')" class="pagination__btn">Следующая страница »</a>
                </div> 
            </div>
        </div>
    </section>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}
