{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} Услуги {% endblock %}


{% block content %}

    <section class='services'>
        <div class='container'>
            <h2 class="services__title">Услуги</h2>
            <div class='services__items'>
                {% for service in services %}
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{{ service.icon.url }}" alt="">
                    </div>
                    <div class="services__item-title">{{ service.name }}</div>
                    <a href="{{ service.get_absolute_url }}" class="services__item-link">Подробнее</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}