{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} {{ current_article.title }}{% endblock %}
{% block description %}
<meta name="description" content="{{ current_article.description }}"> {% endblock %}  

{% block content %}

    <section class='blog-item'>
        <div class='container'>
            <div class="blog-item__inner">
                <a onclick="javascript:history.back();" class="back-link blog-item__back">
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 1L2 8L9 15" stroke="#C39F7B" stroke-width="1.5"/>
                    </svg>
                    <span>Назад</span>
                </a>
                <div class='blog-item__text'>
                    <h1 class="title3">{{ current_article.title }}</h1>
                    <p>{{ current_article.description  |safe }}</p> 
                    <img  src="{{ current_article.image.url }}" alt="{{ current_article.alt_image }}">
                    <div>{{ current_article.information_html|safe }}</div>
                </div> 
            </div>

        </div>
    </section>
 
{% include 'main/application.html' %} 

{% endblock %}