{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} {{ current_article.title_seo }}{% endblock %}
{% block description %}
<meta name="description" content="{{ current_article.description_seo }}"> 
<meta property="og:site_name" content="СК «Корона»">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="WebSite">
<meta property="og:title" content="{{ current_article.title }}">
<meta property="og:description" content="{{ current_article.description_seo }}">
<meta property="og:image" content="1">
<meta property="og:image:width" content="968">
<meta property="og:image:height" content="504">
<meta property="og:url" content="https://korona24.ru/">
{% endblock %}  

{% block content %}

    <section class='blog-item'>
        
        <div class='container'>
         
            <div class="blog-item__inner">
                <a onclick="javascript:history.back();" class="back-link blog-item__back">
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 1L2 8L9 15" stroke="#C39F7B" stroke-width="1.5"/>
                    </svg>
                    <span>Назад</span>
                </a>
                <div class='blog-item__text'>
                    <h1 class="title3">{{ current_article.title }}</h1>
                    <p>{{ current_article.description  |safe }}</p> 
                    <img style="width: 50%;" src="{{ current_article.image.url }}" alt="{{ current_article.alt_image }}">
                    <div>{{ current_article.information_html|safe }}</div>
                </div> 
            </div>

        </div>
    </section>
 
{% include 'main/application.html' %} 

{% endblock %}