{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} Услуги {% endblock %}


{% block content %}

    <section class='services'>
        <div class='container'>
            <h2 class="services__title">Услуги</h2>
            <div class='services__items'>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service5.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Терапия (лечение)</div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service6.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Хирургия</div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service7.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Эстетическая стоматология
                    </div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service8.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Детская стоматология
                    </div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service9.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Профилактика <br> и гигиена</div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service10.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Ортодонтия</div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service11.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Имплантация</div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service12.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Протезирование</div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service13.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Парадонтология</div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
                <div class="services__item">
                    <div class="services__item-icon">
                        <img src="{% static 'img/service14.svg' %}" alt="">
                    </div>
                    <div class="services__item-title">Протезирование</div>
                    <a href="" class="services__item-link">Подробнее</a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}