{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} Галлерея {% endblock %}


{% block content %}

    <div id="test_block">

    </div>
    <form id="test_form">
        {% csrf_token %}
        <input type="submit" value="test_btn">
        <input type="hidden" name="page_num">
    </form>
    <section class='zone'>
        <div class='container'>
            <div class='zone__top'>
                <h2 class="zone__title">
                    галерея
                </h2>
            </div>
            <div class="zone__items">
                <div class="zone__item">
                    <a data-fancybox='gallery' href="{% static 'img/zone1.jpg' %}">
                        <img src="{% static 'img/zone1.jpg' %}" alt=''>
                    </a>
                </div>
                <div class="zone__item">
                    <a data-fancybox='gallery' href="{% static 'img/zone2.jpg' %}">
                        <img src="{% static 'img/zone2.jpg' %}" alt=''>
                    </a>
                </div>
                <div class="zone__item">
                    <a data-fancybox='gallery' href="{% static 'img/zone3.jpg' %}">
                        <img src="{% static 'img/zone3.jpg' %}" alt=''>
                    </a>
                </div>
                <div class="zone__item">
                    <a data-fancybox='gallery' href="{% static 'img/zone4.jpg' %}">
                        <img src="{% static 'img/zone4.jpg' %}" alt=''>
                    </a>
                </div>
                <div class="zone__item">
                    <a data-fancybox='gallery' href="{% static 'img/zone5.jpg' %}">
                        <img src="{% static 'img/zone5.jpg' %}" alt=''>
                    </a>
                </div>
                <div class="zone__item">
                    <a data-fancybox='gallery' href="{% static 'img/zone6.jpg' %}"">
                        <img src="{% static 'img/zone6.jpg' %}" alt=''>
                    </a>
                </div>
            </div>
            <a href="" class="zone__all btn">Показать еще</a>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function() {
            let page_nums = 0;

            $("#test_form").submit(function() {
                page_nums++;
                $("input[name=page_num]").val(page_nums);
                $.ajax({
                    url: "{% url 'main:gallery_pagination' %}",
                    method: "post",
                    dataType: "html",
                    data: $(this).serialize(),
                    success: function(data) {
                        data = JSON.parse(data);
                        for (let i = 0; i < 6; i++) {
                            let element = document.createElement('img');
                            element.src = data.images[i];
                            document.getElementById("test_block").appendChild(element);
                        }
                    }
                });
                return false;
            });

            // Для загрузки первых 6 фото при загрузке страницы.
            $("#test_form").submit();
        });
    </script>
{% endblock %}
